[Unit]
Description=MQTT Fireplace Control
After=network.target

[Service]
ExecStart=/usr/bin/python3 /mnt/data/python/fireplace2mqtt.py
WorkingDirectory=/mnt/data/python/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
